@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background-image: url("../images/background-image.jpg")
}

hr {
  width: 100%;
  color: gray;
}

.background-img {
  visibility: hidden;
}

.superstar-card-1 {
  background-image: url("../images/bg-pattern-card.svg");
  background-position: 100% 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px grey;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.superstar-card-1 span {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.superstar-card-2 {
  background-image: url("../images/abstract1.jpg");
  background-position: 100% 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px grey;
  color: wheat;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.superstar-card-2 span {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

.superstar-card-3 {
  background-image: url("../images/abstract2.jpg");
  background-position: 100% 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px grey;
  display: grid;
  color: wheat;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.superstar-card-3 span {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  color: hsl(180, 100%, 70%);
}

.superstar-card-4 {
  background-image: url("../images/abstract5.jpg");
  background-position: 100% 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: cadetblue;
  box-shadow: 2px 2px 5px grey;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.superstar-card-4 span {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  color: hsl(288, 100%, 50%);
}

.superstar-card-5 {
  background-image: url("../images/abstract4.jpg");
  background-position: 100% 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px grey;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.superstar-card-5 span {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  color: hsl(60, 100%, 70%);
}

.superstar-card h2 {
  font-family: "Kumbh", sans-serif;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.superstar-card h4 {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.superstar-card h5 {
  font-family: "Kumbh", sans-serif;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.background-img {
  border-radius: 20px;
  width: 100%;
}

.superstar {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
}

.superstar-img {
  border-radius: 100%;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 100px;
}

.infos {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  width: 100%;
}
