<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mongodb-template-styles.css"
          th:href="@{/css/mongodb-template-styles.css}">

    <title>MongoDB Template</title>
</head>
<body>
<div class="superstar-card-1">
    <img class="background-img" src="../static/images/bg-pattern-card.svg" alt="card-image"
         th:src="@{/images/bg-pattern-card.svg}">
    <div class="superstar">
        <img class="superstar-img" src="../static/images/will-smith.jpg" alt="superstar-image"
             th:src="@{/images/will-smith.jpg}">
    </div>
    <h2 th:text="${willSmith.name}">Superstar1 <span class="superstar-age" th:text="${willSmith.age}">Age1</span></h2>
    <h4 th:text="${willSmith.city}">City1</h4>
    <hr>
    <div class="infos">
        <div class="info-col">
            <h2 th:text="${willSmith.numberOfFollowers}">S1</h2>
            <h5>Followers</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${willSmith.numberOfLikes}">S1</h2>
            <h5>Likes</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${willSmith.numberOfPhotos}">S1</h2>
            <h5>Photos</h5>
        </div>
    </div>
</div>
<div class="superstar-card-2">
    <img class="background-img" src="../static/images/bg-pattern-card.svg" alt="card-image"
         th:src="@{/images/bg-pattern-card.svg}">
    <div class="superstar">
        <img class="superstar-img" src="../static/images/angelina-jolie.jpg" alt="superstar-image"
             th:src="@{/images/angelina-jolie.jpg}">
    </div>
    <h2 th:text="${angelinaJolie.name}">Superstar2 <span class="superstar-age"
                                                         th:text="${angelinaJolie.age}">Age2</span></h2>
    <h4 th:text="${angelinaJolie.city}">City2</h4>
    <hr>
    <div class="infos">
        <div class="info-col">
            <h2 th:text="${angelinaJolie.numberOfFollowers}">S2</h2>
            <h5>Followers</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${angelinaJolie.numberOfLikes}">S2</h2>
            <h5>Likes</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${angelinaJolie.numberOfPhotos}">S2</h2>
            <h5>Photos</h5>
        </div>
    </div>
</div>
<div class="superstar-card-3">
    <img class="background-img" src="../static/images/bg-pattern-card.svg" alt="card-image"
         th:src="@{/images/bg-pattern-card.svg}">
    <div class="superstar">
        <img class="superstar-img" src="../static/images/keanu-reeves.jpg" alt="superstar-image"
             th:src="@{/images/keanu-reeves.jpg}">
    </div>
    <h2 th:text="${keanuReeves.name}">Superstar3 <span class="superstar-age" th:text="${keanuReeves.age}">Age3</span>
    </h2>
    <h4 th:text="${keanuReeves.city}">City3</h4>
    <hr>
    <div class="infos">
        <div class="info-col">
            <h2 th:text="${keanuReeves.numberOfFollowers}">S3</h2>
            <h5>Followers</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${keanuReeves.numberOfLikes}">S3</h2>
            <h5>Likes</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${keanuReeves.numberOfPhotos}">S3</h2>
            <h5>Photos</h5>
        </div>
    </div>
</div>
<div class="superstar-card-4">
    <img class="background-img" src="../static/images/bg-pattern-card.svg" alt="card-image"
         th:src="@{/images/bg-pattern-card.svg}">
    <div class="superstar">
        <img class="superstar-img" src="../static/images/gal gadot.jpg" alt="superstar-image"
             th:src="@{/images/gal gadot.jpg}">
    </div>
    <h2 th:text="${galGadot.name}">Superstar4 <span class="superstar-age" th:text="${galGadot.age}">Age4</span></h2>
    <h4 th:text="${galGadot.city}">City4</h4>
    <hr>
    <div class="infos">
        <div class="info-col">
            <h2 th:text="${galGadot.numberOfFollowers}">S4</h2>
            <h5>Followers</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${galGadot.numberOfLikes}">S4</h2>
            <h5>Likes</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${galGadot.numberOfPhotos}">S4</h2>
            <h5>Photos</h5>
        </div>
    </div>
</div>
<div class="superstar-card-5">
    <img class="background-img" src="../static/images/bg-pattern-card.svg" alt="card-image"
         th:src="@{/images/bg-pattern-card.svg}">
    <div class="superstar">
        <img class="superstar-img" src="../static/images/the-rock.jpg" alt="superstar-image"
             th:src="@{/images/the-rock.jpg}">
    </div>
    <h2 th:text="${theRock.name}">Superstar5 <span class="superstar-age" th:text="${theRock.age}">Age5</span></h2>
    <h4 th:text="${theRock.city}">City5</h4>
    <hr>
    <div class="infos">
        <div class="info-col">
            <h2 th:text="${theRock.numberOfFollowers}">S5</h2>
            <h5>Followers</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${theRock.numberOfLikes}">S5</h2>
            <h5>Likes</h5>
        </div>
        <div class="info-col">
            <h2 th:text="${theRock.numberOfPhotos}">S5</h2>
            <h5>Photos</h5>
        </div>
    </div>
</div>
</body>
</html>
